body {
  background-color: white;
  width: 1000px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h2 {
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: darkgray;
}

#titel {
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
}

#effekt {
  background-color: lightgray;
  border: none;
  color: black;
  font-size: 18px;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
}

#anleitung {
  text-align: right;
  padding-bottom: 30px;
}

#effekt:hover {
  background-color: darkgray;
  color: white;
}

#spiel {
  display: block;
}

#spielbrett {
  margin: auto;
  display: block;
  position: relative;
}

table {
  position: absolute;
  top: 200px;
  left: 331px;
}

td {
  width: 70px;
  height: 70px;
  text-align: center;
  border: 1px solid black;
}

.schwarzerStein {
  width: 20px;
  height: 20px;
  padding: 12px 20px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
}

.weisserStein {
  width: 20px;
  height: 20px;
  padding: 12px 20px;
  background-color: wheat;
  border: 0.5px solid white;
  border-radius: 50%;
}

footer {
  font-size: 10px;
  text-align: center;
  margin: 0px;
  padding-top: 50px;
}
