body {
  background-color: white;
  width: 1000px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h2 {
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: darkgray;
}

#titel {
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
}

#effekt {
  background-color: lightgray;
  border: none;
  color: black;
  font-size: 18px;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
}

#anleitung {
  text-align: right;
  padding-bottom: 30px;
}

#effekt:hover {
  background-color: darkgray;
  color: white;
}

#spiel {
  display: block;
}

#spielbrett {
  margin: auto;
  display: block;
  position: relative;
}

.figurenS {
  position: absolute;
}

#figur1s {
  top: 210px;
  left: 400px;
}

#figur2s {
  top: 270px;
  left: 400px;
}

#figur3s {
  top: 330px;
  left: 400px;
}

#figur4s {
  top: 390px;
  left: 400px;
}

#figur5s {
  top: 450px;
  left: 400px;
}

#figur6s {
  top: 510px;
  left: 400px;
}

#figur7s {
  top: 570px;
  left: 400px;
}

#figur8s {
  top: 630px;
  left: 400px;
}

#figur9s {
  top: 690px;
  left: 400px;
}

.figurenW {
  position: absolute;
}

#figur1w {
  top: 210px;
  right: 400px;
}

#figur2w {
  top: 270px;
  right: 400px;
}

#figur3w {
  top: 330px;
  right: 400px;
}

#figur4w {
  top: 390px;
  right: 400px;
}

#figur5w {
  top: 450px;
  right: 400px;
}

#figur6w {
  top: 510px;
  right: 400px;
}

#figur7w {
  top: 570px;
  right: 400px;
}

#figur8w {
  top: 630px;
  right: 400px;
}

#figur9w {
  top: 690px;
  right: 400px;
}

footer {
  font-size: 10px;
  text-align: center;
  margin: 0px;
  padding-top: 50px;
}
